body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul { list-style: none; padding-left: 5px; }
a { color:blue; text-decoration: none;}
.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}

.search-bar {
    position: absolute;
    left: 50%;
    top: -1px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.search-bar input[type="text"]{
    padding: 10px 40px 10px 20px; /* Espaçamento para a lupa */
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    background: url('/assets/images/lupa.png') no-repeat 98% center;
    background-size: 20px;
}

.search-bar button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: #989d98;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #777a77;
}



.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}
.anchors {
    padding-left: 05pxpx;
}
.sidebar {
    border-right: solid 1px #cdcdcd;
}

.sidebar ul {
    margin-right: 5px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    list-style-type: none;
    height: 1300px;
}

.content figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Centraliza o texto dentro do <figcaption> */
    margin: 0 auto;

}


.logo figcaption {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    align-items: first baseline;
    margin-left: 10;
}

.logo {
    margin-left: 3;
}

footer {
    text-align: center;
}

main > p {
    text-align: left;
    text-align: justify;
}

header {
    display: flex;
    justify-content: left;
    align-items:center;
    height: 100px;
}

.search-bar {
    margin-top: 20px;
    width: 300px;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: 100vh;
}

.video iframe {
    margin-top: 20px;
}

.video-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    width: fit-content;
    margin: 20px auto;
}

.ads-container {
    position: fixed;
    top:20px;
    right:20px;
    width: 240px;
    height: 240px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    overflow: hidden;

}

.ads-container img {
    max-width: 100%;
    max-height: 100% ;
    object-fit: cover;
}

